<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adnonstop.beautypushlib">


    <application>
        <!--oppo Push开放平台             ************************************ start-->
        <meta-data
            android:name="OPPO_APP_SECRET"
            android:value="${OPPO_APP_SECRET}" />
        <meta-data
            android:name="OPPO_APP_KEY"
            android:value="${OPPO_APP_KEY}" />
        <service
            android:name=".oppopush.OppoPushMessageService"
            android:exported="true"
            android:permission="com.heytap.mcs.permission.SEND_PUSH_MESSAGE">
            <intent-filter>
                <action android:name="com.heytap.mcs.action.RECEIVE_MCS_MESSAGE" />
                <action android:name="com.heytap.msp.push.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>

        <service
            android:name=".oppopush.OppoCompatiblePushMessageService"
            android:exported="true"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>
        <!--oppo Push开放平台             ************************************ end-->


        <!--Vivo Push开放平台中应用的appid 和api key**************************** start-->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="${VIVO_APP_KEY}" />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="${VIVO_APP_ID}\" />

        <!--push应用定义消息receiver声明-->
        <receiver
            android:name=".vivopush.VivoPushMessageReceiver"
            android:exported="false">
            <intent-filter>
                <!--接收push消息-->
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!--Vivo Push需要配置的service、activity-->
        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:exported="true"
            android:permission="com.push.permission.UPSTAGESERVICE" />
        <!--Vivo Push开放平台             ************************************ end-->


        <!--小米 Push开放平台             ************************************ start-->

        <meta-data
            android:name="MI_APP_ID"
            android:value="${MI_APP_ID}\" />
        <meta-data
            android:name="MI_APP_KEY"
            android:value="${MI_APP_KEY}\" />

        <receiver
            android:name=".mipush.MiPushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!--小米 Push开放平台             ************************************ end-->


        <!--华为 Push开放平台             ************************************ start-->
        <service
            android:name=".huaweipush.HWPushMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--华为 Push开放平台             ************************************ end-->

    </application>

    <!--华为 Push开放平台             ************************************ start-->
    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>
    <!--华为 Push开放平台             ************************************ end-->
</manifest>